.container {
  grid-area: c;
  width: 100%;
  background: rgb(146, 146, 146);
  text-align: center;
  height: 100vh;
}

.bar {
  display: inline-block;
  fill: skyblue;
  margin: 2px;
}

.bar:hover {
  fill: brown;
}

svg {
  background-color: whitesmoke;
  height: 100vh;
  text-align: center;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: whitesmoke;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
