.App {
  background: #002642;
  min-height: 100vh;
  display: grid;
}

.visualization-selectors {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
  padding-top: 100px;
  width: 60vw;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  background: #002642;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 64px;
  width: 100vw;
  text-align: left;
  font-size: 32px;
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid white;
}

.container {
  width: 100%;
  background: whitesmoke;
  text-align: center;
  min-height: 100vh;
  margin-top: 70px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background: #162039;
  color: white;
  font-size: 26px;
  border: 5px solid #ffffff;
  border-radius: 4px;
  padding: 10px;
}
button:hover {
  background: #293d6e;
}

svg {
  background-color: whitesmoke;
  text-align: center;
}
